<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>index</title>
<!--    <link rel='stylesheet' href='../static/style.css'>-->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <header>
        <figure>
            <img src="/static/logo.png" alt="logo">
            
        </figure>


    </header>

    <section >
        
        <input  type="text" class="search_content">
        <button>Search</button>
        <input type="radio"class='selector' name="choice" value="movies name" >movie
        <input type="radio"class='selector' name="choice" value="review" >review
        
        <!-- <input type="radio" class='selector' name="choice" value="movies name" >movie<br>
        <input type="radio"class='selector' name="choice" value="review" >review<br>   -->

        
    
    
    </section>  
    
    

    <footer>
        <p>
            TTDS CW3
        </p>
    </footer>


</body>
</html>